{% extends "layout.html" %}

{% block title %}{{ super() }} - Home{% endblock %}

{%- block content %}

<div class="container">
    <h1>APN</h1>
    <a href="{{ url_for('send_apn', notification='test') }}" class="btn btn-send-get">Send arrival token</a>
    <a href="{{ url_for('get_apn_feedback') }}" class="btn btn-send-get">Get APN feedback</a>
</div>

<div class="container">
    <h1>Location update</h1>
    <form method="post" action="{{ url_for('update_location') }}">
        <div class="form-group">
            <label for="lng">Longitude</label>
            <input type="text" class="form-control" id="lng" name="lng" value="-0.0878222">
        </div>
        <div class="form-group">
            <label for="lat">Latitude</label>
            <input type="text" class="form-control" id="lat" name="lat" value="51.5226651">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="container">
    <h1>Get question</h1>
    <form method="post" action="{{ url_for('get_question') }}">
        <div class="form-group">
            <label for="lng">Longitude</label>
            <input type="text" class="form-control" id="lng" name="lng" value="-0.0878222">
        </div>
        <div class="form-group">
            <label for="lat">Latitude</label>
            <input type="text" class="form-control" id="lat" name="lat" value="51.5226651">
        </div>
        <div class="form-group">
            <label for="prev_answers">Answers</label>
            <input type="text" class="form-control" id="prev_answers" name="prev_answers">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="container">
    <h1>Photo upload</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_photo') }}">
        <div class="form-group">
            <label for="lng">Longitude</label>
            <input type="text" class="form-control" id="lng" name="lng" value="-0.0878222">
        </div>
        <div class="form-group">
            <label for="lat">Latitude</label>
            <input type="text" class="form-control" id="lat" name="lat" value="51.5226651">
        </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="photo">
            <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>
        <button type="submit" class="btn btn-default">Upload</button>
    </form>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Log</h1>
        </div>
        <div class="panel-body">
            <ul id="log-list" class="list-group">
            </ul>
        </div>
    </div>
</div>

{%- endblock %}
