{% extends "layout.html" %}

{% block title %}{{ super() }} - Home{% endblock %}

{%- block content %}

<div class="container">
    <h1>APN</h1>
    <a href="{{ url_for('send_apn', notification='arrival') }}" class="btn btn-send-get">Send arrival APN</a>
    <a href="{{ url_for('send_apn', notification='photo') }}" class="btn btn-send-get">Send photo APN</a>
    <a href="{{ url_for('get_apn_feedback') }}" class="btn btn-send-get">Get APN feedback</a>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Log</h1>
        </div>
        <div class="panel-body">
            <ul id="log-list" class="list-group">
            </ul>
        </div>
    </div>
</div>

{%- endblock %}
